<header id="header">
    <!-- Nav -->
    <div id="nav">
        <!-- Main Nav -->
        <div id="nav-fixed">
            <div class="container">
                <!-- logo -->
                <div class="nav-logo">
                    <a href="{% url 'home' %}" class="logo">Битва за Україну на теренах UA</a>
                </div>
                <!-- /logo -->

                <!-- nav -->
                <ul class="nav-menu nav navbar-nav">
                    <li><a href="{% url 'daylist' %}">Таблиця днів</a></li>
<!--                    <li><a href="category.html">Popular</a></li>-->
                    <li class="cat-1"><a href="{% url 'photo' %}">Фото</a></li>
                    <li class="cat-2"><a href="{% url 'video' %}">Відео</a></li>
                    <li class="cat-3"><a href="{% url 'audio' %}">Аудіо</a></li>
<!--                    <li class="cat-4"><a href="{% url 'articles' %}">Articles</a></li>-->
                </ul>
                <!-- /nav -->
            </div>
        </div>
        <!-- /Main Nav -->
    </div>
    <!-- /Nav -->
</header>
